@import "tailwindcss";

body {
  background: linear-gradient(
    to bottom,
    #09090b,
    /* zinc-950 */ #18181b,
    /* zinc-900 */ #000000 /* black */
  );
  color: #e4e4e7; /* zinc-200 */
  margin: 0;
  min-height: 100vh;
}

/* Hi */
/* This is another change */
